:root {
  --info-color: #0f0;
  --warning-color: rgb(255, 166, 0);
  --error-color: #f00;
  --default-color: #000;
  --alpha: .5;
  --contrast-text-color: #fff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tutorial-shorts {

  min-width: 500px;

  p {
    padding: 3px 5px;    
  }

  .info {
    color: var(--info-color);
  }
  .warning {
    color: var(--warning-color);
  }
  .error {
    color: var(--error-color);
  }

  .post {
    background-color: rgba(0, 0, 0, var(--alpha));
    color: var(--contrast-text-color);
  }

}